<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="{{url_for('user_list')}}">Users</a></li>
      <li><a href="{{url_for('user_create')}}">Create</a></li>
      <li><a href="/users/{{id}}">Details</a></li>
    </ul>
  </div>

  <div style="margin-left: 20px;">
    {% block content %}{% endblock %}
  </div>
</body>
</html>